html {
    box-sizing: border-box;
}

*, ::after, ::before{
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
}

.form__labelText {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    margin-right: 5px;
}
.form__field {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
}
.form__field--input_currency_rate {
    border: none;
}
.form__field--output_currency_rate {
    border: none;
}

.form__button {
    width: 100%;
    border: none;
    background-color: teal;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
.form__button:hover {
    background-color: rgb(37, 168, 168);
}
.form__button:active {
    background-color: rgb(150, 233, 233);
}
.form__legend {
    border: 1px solid grey;
    background-color: teal;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
.form__fieldset {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;
}
.important {
    color: red;
    font-size: large;
}